<p>Pues sí, ¡nos vamos a casar!</p>
<p>Y nos haría mucha ilusión que compartieses con nosotros en este día tan especial. 
<br />Te esperamos este 12 de septiembre en la 
<a target="_blank" href="https://goo.gl/maps/xLUaNV18nXVEsomX6">finca El Belón</a> (Alicante) a partir de las 18:00. 
<br />A las 18:30 celebraremos la ceremonia, seguida de cóctel, cena y fiesta con música en directo y 4 horas de barra libre.</p>
<p>Nos vemos muy pronto, <br />¡Un abrazo! <br />Simone y Arturo</p>