<p>Wij gaan trouwen en wij zouden deze dag graag met jullie delen! </p>
<p>De bruiloft is op 12 september aanstaande in finca el Belón (Alicante, Spanje) vanaf 18.00. Om 18.30 zal de ceremonie starten waarop het diner met feest volgt.</p>
<p>We hopen jullie te zien in Alicante!</p>
<p>Liefs,<br />Simone en Arturo</p>
