<p>Pues sí, ¡nos vamos a casar!</p>
<p>Y nos haría mucha ilusión que compartieseis con nosotros en este día tan especial. <br />Os esperamos
    este 12 de
    septiembre en la finca El Belón (<a target="_blank"
        href="https://maps.google.com/maps/search/Finca%20Belon/@38.4271240234375,-0.4588676393032074,17z">dirección</a>)
    a partir de las 17:30. <br />Allí celebraremos la ceremonia, seguida de cóctel,
    cena y fiesta con música en directo y 4 horas de barra libre.</p>
<p>Nos vemos muy pronto, <br />¡Un abrazo! <br />Simone y Arturo</p>