.main {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.leaf {
    max-width: 100%;
    max-height: 120px;
    margin-bottom: 20px;
    width: 100%;
    z-index: 19;

}

@media(min-width:768px) {
    .leaf {
        margin-top: -32px;
    }
}

.default-image {
    width: 100%;
}

.header-intro {
    padding: 0 4% 10px 4%;
    text-align: center;
    z-index: 1;
}

.header-title {
    line-height: 1;
    font-family: Taviraj;
    color: #565458;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-letter-spacing: 6px;
    -moz-letter-spacing: 6px;
    -ms-letter-spacing: 6px;
    letter-spacing: 6px;
    font-size: calc(0.75 * 42px);
    margin: 16px 0;
}

@media (min-width:640px) {
    .header-title {
        font-size: 42px;
    }
}

.header-subtitle {
    line-height: 1;
    font-family: Taviraj;
    color: #565458;
    font-size: 16px;
    font-weight: normal;
    -webkit-letter-spacing: 3px;
    -moz-letter-spacing: 3px;
    -ms-letter-spacing: 3px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 8px 0;
}

@media (min-width:640px) {
    .header-subtitle {
        font-size: calc(1.25 * 16px);
    }
}

.bar-fixed {
    background-color: #ffffff;
    height: 56px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 18;
    margin: 0;
}

@media (min-width:768px) {
    .bar-fixed {
        display: none;
    }
}

.bar-title {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    font-family: Allura;
    color: #565458;
    font-size: 32px;
    font-weight: normal;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
}

.link-active {
    font-family: Taviraj;
    color: #565458;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    display: block;
    -webkit-letter-spacing: 2px;
    -moz-letter-spacing: 2px;
    -ms-letter-spacing: 2px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0 auto;
    padding: 8px 8px 6px;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 2px solid #565458;
}

.bar-language {
    display: block;
    padding-top: 20px;
}

@media (min-width:768px) {
    .bar-language {
        display: block;
    }
}

.bar-language-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 8px 16px;
}

.bar-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bar-elem {
    display: inline-block;
    list-style: none;
    padding: 0 8px;
}

.bar-elem-link {
    display: block;
    padding: 14px 0;
    margin: 8px 0;
    margin: 0;
    padding: 8px 0;
}

.link {
    font-family: Taviraj;
    color: #565458;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    display: block;
    -webkit-letter-spacing: 2px;
    -moz-letter-spacing: 2px;
    -ms-letter-spacing: 2px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0 auto;
    padding: 8px 8px 6px;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.link:hover {
    color: #7c797f;
    border-bottom: 2px solid rgba(124, 121, 127, 70%);
}

.content {
    margin: auto;
    max-width: 720px;
    padding: 0 20px;
}

@media (min-width:720px) {
    .content {
        padding: 0;
    }
}

h3 {
    margin: 12px 0;
    line-height: 1;
    font-family: Allura;
    color: #565458;
    font-size: 32px;
    font-weight: normal;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
}

footer {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: auto;
    position: relative;
    width: 100%;
}

.footer-container {
    font-family: Taviraj;
    color: #565458;
    font-size: 42px;
    font-weight: Normal;
    text-transform: uppercase;
    -webkit-letter-spacing: 6px;
    -moz-letter-spacing: 6px;
    -ms-letter-spacing: 6px;
    letter-spacing: 6px;
    -webkit-letter-spacing: 3.4px;
    -moz-letter-spacing: 3.4px;
    -ms-letter-spacing: 3.4px;
    letter-spacing: 3.4px;
    line-height: 1;
    margin: 52px auto;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.footer-title {
    padding: 0 18px 16px;
}

.footer-subtitle {
    border-top: 1px solid #565458;
    font-size: 20px;
    padding: 20px 18px 0;
}

textarea,
input {
    border-width: 1px;
}

.input-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
}

.input-area label {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0.25;
    padding: 0 5px;
}

.input-container {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.radio-container {
    margin: 0;
}

.input-radio-block {
    margin: 0;
}

.radio-container label {
    display: inline;
}

.radio-container input {
    margin: 0;
    padding: 0;
}

.submit-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px auto;
}

button {
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    border: 1px solid #c7cdd4;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
}

#success-message {
    display: none;
    border: 1px solid #c7cdd4;
    padding: 5px;
    border-radius: 5px;
}

#error-message {
    display: none;
    color: #9a5151;
    border: 1px solid #da8181;
    padding: 5px;
    border-radius: 5px;
}

.form-container {

    border: 1px solid #c7cdd4;
    padding: 5px;
    border-radius: 5px;

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong {
    font-weight: 500
}

.content-paragraph, p {
    font-family: Taviraj;
    color: #565458;
    font-size: 16px;
    font-weight: 400;
    -webkit-letter-spacing: .25px;
    -moz-letter-spacing: .25px;
    -ms-letter-spacing: .25px;
    letter-spacing: .25px;
    line-height: 1.75;
    margin: 32px 0;
}

nav {
    z-index: 20;
}

.content a {
    text-decoration: underline;
}

a:hover {
    color: #7c797f;
}